html, body, blockquote, code, h1, h2, h3, h4, h5, h6, p, pre {
    margin: 0;
    padding: 0;
}

.page {
    padding: 2% 10%;
}

body {
    font-family: 'Geist';
    font-size: 18px;
    font-weight: 200;
    opacity: 0;
    transition: opacity 0.5s;
}

h1 {
    font-family: 'Geist';
    font-size: 26px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-ev