html, body, blockquote, code, h1, h2, h3, h4, h5, h6, p, pre {
    margin: 0;
    padding: 0;
}

.page {
    padding: 2% 10%;
}

body {
    font-family: 'Geist';
    font-size: 18px;
    font-weight: 200;
    opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.01;
    }
   